<div ng-include="'views/partials/navbar.html'" scope="" onload=""></div>

<div class="jumbotron">
  <h1>'Allo, 'Allo!</h1>
  <p class="lead">
    <img src="images/yeoman.png" alt="I'm Yeoman"><br>
    Always a pleasure plotting your apps, {{ currentUser.email }}.
  </p>
  <p><a class="btn btn-lg btn-success" ng-href="#/about">Learn more!</a></p>
</div>

<div class="row marketing">
  <div ng-repeat="stage in stages">
    <div class="well col-sm-3">{{stage.title}}</div>
  </div>
</div>

<div class="row marketing">
  <div ng-repeat="project in projects">
    <div class="well col-sm-3">{{project.title}}</div>
  </div>
</div>

<div class="footer">
  <p>♥ from the Yeoman team</p>
</div>
